<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ClassFoRU</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="logo-nav-container">
        <a href="/" class="logo">
          <img src="https://www.pikpng.com/pngl/b/276-2760092_rutgers-scarlet-knights-white-rutgers-r-clipart.png" alt="ClassFoRU Logo">
        </a>

        <nav class="nav-links">
          <a href="/">Home</a>
          <a href="/majors">Majors</a>
          <a href="/clubs">Clubs</a>
          <a href="/bus">Buses</a>
          <a href="/ai">AI</a>
          <a href="/map">Map</a>
          <a href="/about">About Me</a>
        </nav>
      </div>

      <a href="/" class="site-title">ClassFoRU</a>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <h3>Important Links</h3>
      <ul class="important-links">
        <li><a href="https://sims.rutgers.edu/webreg/" target="_blank">WebReg</a></li>
        <li><a href="https://www.ratemyprofessors.com/" target="_blank">Rate My Professor</a></li>
        <li><a href="https://nbdn.rutgers.edu/" target="_blank">Degree Navigator</a></li>
        <li><a href="https://scheduleofclasses.rutgers.edu/" target="_blank">Schedule of Classes</a></li>
        <li><a href="https://canvas.rutgers.edu/" target="_blank">Canvas</a></li>
      </ul>
      <p>© 2025 ClassFoRU | Built at HackRU</p>
    </footer>

    <script src="/js/search.js"></script>
    <script src="/js/carousel.js"></script>
  </body>
</html>
