<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ClassFoRU</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
  {{!-- <section class="carousel-container">
  <!-- Left Arrow -->
  <span class="arrow left" onclick="prevSlide()">&#10094;</span>

  <!-- Images (each wrapped in an <a> link) -->
  <div class="carousel-slide">
    <img src="https://www.business.rutgers.edu/sites/default/files/styles/accent/public/images/backdrops/RBS_About_accent.jpg.jpg?itok=oOTLNMNc" alt="Computer Science" />
  </div>
  <div class="carousel-slide">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Rutgers_University_4053-_Route_LX.jpg" alt="English Major" />
  </div>
  <div class="carousel-slide">
      <img src="https://sca.rutgers.edu/sites/default/files/inline-images/Homepage%20Image.png" alt="Student Clubs" />
  </div>

  <!-- Right Arrow -->
  <span class="arrow right" onclick="nextSlide()">&#10095;</span>
</section> --}}
    <header>
      <nav class="nav-links">
  <a href="/">Home</a>
  <a href="/majors">Majors</a>
  <a href="/clubs">Clubs</a>
  <a href="/bus">Buses</a>
  <a href="/ai">AI</a>
  <a href="/map">Map</a>
  <a href="/about">About Me</a>   <!-- NEW -->
</nav>

      <a href="/" class="site-title">ClassFoRU</a>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <h3>Important Links</h3>
      <ul class="important-links">
        <li><a href="https://sims.rutgers.edu/webreg/" target="_blank">WebReg</a></li>
        <li><a href="https://www.ratemyprofessors.com/" target="_blank">Rate My Professor</a></li>
        <li><a href="https://nbdn.rutgers.edu/" target="_blank">Degree Navigator</a></li>
        <li><a href="https://scheduleofclasses.rutgers.edu/" target="_blank">Schedule of Classes</a></li>
        <li><a href="https://canvas.rutgers.edu/" target="_blank">Canvas</a></li>
      </ul>
      <p>© 2025 ClassFoRU | Built at HackRU</p>
    </footer>

    <script src="/js/search.js"></script>
    <script src="/js/carousel.js"></script>
  </body>
</html>
