<section class="about-page">
  <div class="watermark"></div>
  <h1>About the Creators</h1>
  <div class="creators">
    {{#each creators}}
      <div class="creator-card">
        <alt="{{this.name}}"/>
        <h2>{{this.name}}</h2>
        <h4>{{this.role}}</h4>
        <p>{{this.bio}}</p>
      </div>
    {{/each}}
  </div>
</section>
